<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Room</title>
    <link rel="icon" type="image/x-icon" href="{% static 'utils/favicon.ico' %}">
</head>
<body>
    <div class="parent">
        <div class="child">
            <h1>Enter Room</h1>
            <form action="" method="POST" id="room_form">
                {% csrf_token %}
                <input type="text" placeholder="room name" name="room" id="room_text"><br>
                <input type="submit" id="room-button">
            </form>
            <center><p id="errorField"></p></center>
            <script>
                let formButton = document.querySelector("#room_form");
                formButton.onsubmit = function(e) {
                    e.preventDefault();
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                    let room_selected = document.querySelector("#room_text").value;
                    console.log(room_selected);
                    fetch("https://localhost/room/", {
                        method: "POST",
                        body: JSON.stringify({
                            room: room_selected,
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8",
                            "X-CSRFToken": csrftoken,
                        }
                    })
                    .then((response) => {
                        return response.json();
                    })
                    .then((data) => {
                        console.log(data);
                    })
                }
            </script>
            <!-- <script>
                function test() {
                    fetch("http://localhost:8000/room/", {
                        method: "POST",
                        body: JSON.stringify({
                            room: "rhkjoom",
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8",
                        }
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .then((data) => {
                        console.log(data);
                    })
                }
                
            </script> -->
        </div>
    </div>
</body>